*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav div img {
  width: 50px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  color: #191919;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
  color: orangered;
  border-bottom: 1px solid orangered;
}

.menu-icon {
  /* background-color: tomato; */
  font-size: 28px;
  display: none;
}

main {
  padding-top: 7rem;
}



@media only screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
  }


  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li:last-of-type {
    padding-bottom: 8px;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: flex;
    align-items: center;
  }

  .menu-icon img {
    width: 25px;
  }
  .menu-icon img:hover {
    cursor: pointer;
  }

  .jdl-home {
    width: 100%;
  }

}
/* NAVBAR END */

/* HOME.HTML */
.home-wrap {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 50px;
}

.jdl-home {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.ket-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close {
  margin-top: 70px;
  text-align: center;
}
/* HOME.HTML END */

/* PASLON  */
.paslon-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.paslon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.paslon h1 {
  width: 50%;
  border-radius: 10px;
  padding: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.paslon-wrapper {
  margin: 15px 20px;
  border: 4px solid rgb(59, 59, 59);
  border-radius: 5px;
  padding: 20px 10px;
  background-color: rgba(255, 255, 255,0.5);
}

.paslon-card-container {
  display: flex;
}

.paslon-card {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: 10px 30px;
  padding: 10px;
  border-radius: 5px;
}
.paslon-card h2 {
  font-size: 16px;
}
.paslon-card img {
  width: 200px;
}

.btn-vote {
  text-align: center;
  margin: 20px 0px;
}
.btn-vote a {
  font-weight: 600;
  text-decoration: none;
  color: white;
  background-color: purple;
  padding: 10px 24px;
  border-radius: 5px;
  border: 2px solid rgb(126, 126, 126);
  transition: 0.2s;
} .btn-vote a:hover {
  background-color: blue;
}

.visimisi {
  max-width: 500px;
} 

.visi {
  margin: 13px 0px;
}
.misi {
  margin: 13px 0px;
}

.visi h3, .misi h3 {
  font-size: 25px;
}

.visi, .misi {
  text-align: center;
  padding: 5px 20px;
}

.visi ul li,
.misi ul li {
  padding: 7px;
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
  .paslon {
    padding-top: 50px;
  }
}
/* PASLON END */